source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none

nuget FSharp.Core ~> 8
nuget Fable.Remoting.Giraffe ~> 5
nuget Saturn ~> 0
nuget Expecto ~> 9

nuget Feliz ~> 2

nuget Fake.Core.Target ~> 5
nuget Fake.IO.FileSystem ~> 5
nuget Farmer ~> 1

nuget Azure.Storage.Blobs
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Newtonsoft.Json
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect
nuget Microsoft.Extensions.DependencyInjection.Abstractions