source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none

nuget Flurl.Http
nuget FSharp.Core ~> 8
nuget Saturn ~> 0

nuget Fake.Core.Target ~> 5
nuget Fake.IO.FileSystem ~> 5
nuget Farmer ~> 1

nuget Azure.Storage.Blobs
nuget Microsoft.Extensions.DependencyInjection.Abstractions