source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1
storage: none

nuget Azure.Storage.Blobs
nuget Giraffe 4.1
nuget FSharp.Core 5.0
nuget Saturn
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 3.0.3
nuget Expecto
nuget Newtonsoft.Json
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect
nuget Microsoft.Extensions.DependencyInjection.Abstractions

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core 5.0
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Farmer