/* override Bulma's variables */
$primary: #082510;
$success: #388E3C;
$danger: #D32F2F;

/* import Bulma modules*/
@import "~bulma";

.door {
    border-color: $primary;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;

    &.done {
        border-color: $success;
    }

    &.failed {
        border-color: $danger;
    }
}